.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color:#011F4B;
}

.ruler {
  background-color: #F3B95F;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100px;
  direction: rtl;
  justify-content: space-evenly;
  height: 100vh;
}

.ruler > p {
  font-size: 17px;
  margin: 0;
}

.ruler > span {
  font-size: 10px;
  width: 50px;
  margin: 0;
  padding: 0;
}

.water {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #b3cde0; 
  animation: waterRise 5s ease forwards, wave 2s ease-in-out infinite;
  transform-origin: bottom;
}

@keyframes waterRise {
  0% {
    height: 0%;
  }
  100% {
    height: calc(381.34375px + 6px);
  }
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}